<a href="https://colab.research.google.com/github/cawilson503/Python/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!jupyter nbconvert --to html Midterm.ipynb

[NbConvertApp] Converting notebook Midterm.ipynb to html
[NbConvertApp] Writing 589562 bytes to Midterm.html

In [ ]:
#Q1
#Using triple nested for loop
for x in range(1, 21):
  for y in range(1,21):
    for z in range(1,21):
      if x*x + y*y == z*z:
        print(x,y,z)

3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
12 16 20
15 8 17
16 12 20

In [ ]:
#Q2
#Using List Comprehension
list = [3,8,2,5,30,7,9]
print(list)

def divide(list):
 for i in range(len(list)):
    list[i] = 'best' if list[i]%3==0 and list[i]%5==0 else 'good' if list[i]%3==0 else 'better' if list[i]%5==0 else list[i]
    print(list)

divide(list)

[3, 8, 2, 5, 30, 7, 9]
['good', 8, 2, 5, 30, 7, 9]
['good', 8, 2, 5, 30, 7, 9]
['good', 8, 2, 5, 30, 7, 9]
['good', 8, 2, 'better', 30, 7, 9]
['good', 8, 2, 'better', 'best', 7, 9]
['good', 8, 2, 'better', 'best', 7, 9]
['good', 8, 2, 'better', 'best', 7, 'good']

In [ ]:
#Q3
#Using Slicing
alphabet = "abcdefghijklmnopqrstuvwxyz"
print(alphabet[:13])
print(alphabet[13:])
print(alphabet[0:26:2])
print(alphabet[::-1])
print(alphabet[26:1:-3])

abcdefghijklm
nopqrstuvwxyz
acegikmoqsuwy
zyxwvutsrqponmlkjihgfedcba
zwtqnkhe

In [ ]:
#Q4
#Using sorting
list = [2,8,9,6,1,3,4,7,10]
list2 = ['jrt','uh','bct','rwx']

def sortList (list):
    list.sort()
    print(list)

sortList(list)
sortList(list2)

[1, 2, 3, 4, 6, 7, 8, 9, 10]
['bct', 'jrt', 'rwx', 'uh']

In [ ]:
#Q5a
#Using Counter
from collections import Counter
string = "my name is chelsie"
count=Counter(string)
print(count)

Counter({' ': 3, 'e': 3, 'm': 2, 'i': 2, 's': 2, 'y': 1, 'n': 1, 'a': 1, 'c': 1, 'h': 1, 'l': 1})

In [ ]:
#Q5b
#Using reversal of key value pairs
from collections import Counter
string = "my name is chelsie"
count=Counter(string)
print(count)
for i in range(len(string)):
  inverted={number: name for name, number in count.items()}

print(inverted)

Counter({' ': 3, 'e': 3, 'm': 2, 'i': 2, 's': 2, 'y': 1, 'n': 1, 'a': 1, 'c': 1, 'h': 1, 'l': 1})
{2: 's', 1: 'l', 3: 'e'}